server {
    listen       80;
    server_name  localhost;
    add_header Access-Control-Allow-Origin *;
    root   /usr/share/nginx/html;
    
     location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ @router;
    }

    location @router {
        rewrite ^.*$ /index.html last;
    }
}